.charity-slider {
  position: relative;
  padding: 0 80px;
  @include breakpoint(md) {
    padding: 0 50px;
  }

  &__card {
    padding: 25px;
    @include breakpoint(md) {
      padding: 0px;
    }
  }

  &__img {
    margin-bottom: 25px;
  }

  &__pic {
    border-radius: 20px;
    margin: 0 auto;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
    color: var(--primary-color);
    padding-bottom: 30px;
    border-bottom: 1px solid #b9cbdf;
  }

  &__balance {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--primary-color);
  }

  &__pricebox {
    margin: 10px 0px 30px;
  }

  &__price {
    max-width: 112px;
    margin: 0 auto;
    background-color: #ecf4fe;
    border-radius: 50px;
    padding: 12px 24px;
  }

  &__btn {
    margin-bottom: 60px;
    @include breakpoint(lg) {
      padding: 24px 40px;
    }
    @include breakpoint(sm) {
      padding: 14px 20px;
    }
  }

  &__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    top: 25%;
    z-index: 1;
    &:hover {
      opacity: 0.6;
    }

    &:first-child {
      transform: translatey(-25%) rotate(180deg);
      left: 0;
    }

    &:last-child {
      right: 0;
      transform: translatey(-25%);
    }
  }
}
