.inner-page {
  padding-top: 250px;

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.4;
    color: var(--primary-color);
    margin-bottom: 39px;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(md) {
      font-size: 32px;
    }
  }
}
