.lang-switcher {
  margin-left: auto;
  margin-right: 20px;

  &__btn {
    display: flex;
    align-items: center;
    background: #ecf4fe;
    border-radius: 60px;
    padding: 17px 25px;
    border: none;
    color: var(--white);
    @include breakpoint(lg) {
      padding: 17px 20px;
    }
  }

  &__icon {
    margin-right: 10px;
    @include breakpoint(lg) {
      margin-right: 5px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-color);
  }

  &__list {
    position: absolute;
    display: none;
    padding: 0px;
    list-style: none;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(130, 130, 130, 0.1);
    border-radius: 16px;
    margin: 0px 0px 0px 10px;
    &_opened {
      display: block;
    }
  }

  &__item {
    padding: 17px 35px;
    &_ukr {
      &:hover {
        background: #f9fbfd;
        border-radius: 16px 16px 0px 0px;
      }
    }
    &_eng {
      &:hover {
        background: #f9fbfd;
        border-radius: 0px 0px 16px 16px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
  }
}
