.prime-btn {
  @include button;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  padding: 15px 30px;
  font-size: 20px;

  &:hover {
    background-color: var(--hover-color);
  }
}
