.splide {
  &__slide.is-active {
    background-color: var(--section-bg-color);
    border-radius: 36px;
  }
  &__arrow--prev {
    background-color: #ecf4fe;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  &__arrow--next {
    background-color: #ecf4fe;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
