.footer-small {
  background-color: var(--primary-color);
  padding: 56px 0px;

  &__copyright-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      text-align: center;
    }
  }

  &__copyright-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ecf4fe;
    @include breakpoint(md) {
      margin-bottom: 20px;
    }
  }

  &__copyright-socials {
    display: flex;
    @include breakpoint(md) {
      justify-content: center;
    }
  }

  &__copyright-link {
    margin-right: 32px;
  }
}
