.services {
  padding: 80px 0px;

  &__row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 88px 39px;
    @include breakpoint(md) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      gap: 40px 39px;
    }
  }

  &__card {
    display: flex;
  }

  &__card-img {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    flex-shrink: 0;
    background: linear-gradient(225.68deg, #fee68d -13.74%, #e0ffdb 90.86%);
    @include breakpoint(md) {
      width: 100px;
      height: 100px;
    }
  }

  &__card-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__card-info {
    padding-left: 21px;
  }

  &__card-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
    color: var(--primary-color);
    @include breakpoint(lg) {
      font-size: 24px;
    }
  }

  &__card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--secondary-color);
    @include breakpoint(lg) {
      font-size: 16px;
    }
  }
}
